:root {
    --negro: #0000;
    --blanco: #FFFFFF;
    --naranja: #ff9f00;

    --azul: #5475a1;
    --azulclaro: #0d97be;
    --azulclaro2: #00b8c3;

    --gris-claro: #f7f7f7;
    --gris-oscuro: #333333;
    --gris-medio: #595959;

}

@media (width <1200px) {

    .product-card .content-image-product img {
        height: 200px;
    }
}

@media (width <992px) {

    .fondo-imagen-responsive img,
    .fondo-imagen-interna-video img {
        width: 100%;
        object-fit: cover;
        height: 300px;
    }

    .main-general {
        margin-top: 133px;
    }

    .carousel-control-prev-icono {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .carousel-control-next-icono {

        width: 30px;
        height: 30px;
        font-size: 15px;

    }

    header .header-up .login {
        font-size: 14px;
    }

    header nav .logo img {

        max-width: 125px;
    }

    .contenedor-detail-producto #myCarousel {
        width: 100%;
        max-width: 100%;
    }

    .contenedor-detail-producto .contenedorfotos {
        margin-top: 15px;
    }

    #contenido_info {
        margin-top: 15px;
    }

    #contenido_info2 {
        margin-top: 15px;
    }

    .line_box {
        width: 100%;
    }

}

@media (max-width:765px) {

    .floating-btn {
        gap: 5px;
        align-items: center;
        padding: 0;
        width: 70px;
    }

    .floating-btn a {
        display: grid !important;
        width: auto !important;
        line-height: 1;
        padding: 5px;
    }

   
    .floating-btn a span {
        font-size: 12px;
    }



    .content-carrito {
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
        color: var(--azulclaro2);
        font-size: 18px;
    }

    .content-carrito span {
        padding: 10px;
        width: 5px;
        border-radius: 50%;
        background-color: var(--azulclaro2);
        color: var(--blanco);
        height: 5px;
        display: flex;
        place-items: center;
        font-size: 11px;
        position: absolute;
        top: -9px;
        justify-content: center;
        align-items: center;
        right: -16px;
    }


    .fondo-imagen-responsive img,
    .fondo-imagen-interna-video img {
        width: 100%;
        height: 200px;
    }

    .main-general {
        margin-top: 100px;

        overflow-x: hidden;
    }

    footer h3 {
        text-align: center;
        margin-top: 25px;
    }

    footer p {
        text-align: center;
    }

    footer li {
        text-align: center;
    }

    footer ul li a {
        width: 100%;
        display: block;
    }

    .footer-logo{
        max-width: 200px;
    }
    header {
        /* padding: 10px 0; */
    }

    header nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    header nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: start;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    header nav .links li {
        width: 100%;
        place-items: start;
        height: auto;
    }


    header nav .links .link {
        font-size: 17px;
        width: auto;
        color: var(--gris-claro);

    }

    header nav :checked~.links {
        bottom: 0;
        padding: 10px;
    }

    header .icons-red i {
        color: var(--blanco);

    }

    header .icons-red a i {
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
    }

    header .icons-red a:hover i {
        transform: scale(1.3);
    }

    header .login {
        color: var(--azulclaro2);
        font-weight: 600;
        text-decoration: none;
        transition: transform 0.3s ease-in-out;
    }

    header .login i {
        transition: transform 0.3s ease-in-out;

    }


    header .login:hover i {
        transform: scale(1.2);
    }


    header nav .icon-burger {
        display: block;
    }

    header nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    header nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    header nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    .dropdown-menu.show{
        max-height: 600px;
        overflow-y: scroll;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 9%;
    }

    .contenedor-seccion {
        padding: 15px 0;
    }


    .fondo-imagen-responsive .img-banner-internas {
        height: auto;
        max-height: 480px;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 175 / 38;
        min-height: 166px;
    }

    .img-banner-interna {
        height: auto;
    }

    /* -------------------
  BANNER INTERNAS INICIO
  -------------------- */


    .titulo-banner-internas {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        /* text-align: center; */
        font-weight: 700;
        padding: 15px;
        width: 100%;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6)
    }

    .titulo-banner-internas::after {
        all: unset;
    }


    .titulo-banner-internas * {
        margin: 0;
    }
    .titulo-banner-internas img{
        width: 30px !important;
        height: auto;
    }

    /* -------------------
BANNER INTERNAS FIN
-------------------- */

    .contenedor-seccion .col-sm-8,
    .contenedor-seccion .col-sm-4,
    .contenedor-seccion .col-sm-3 {
        width: 100%;
    }

    .id_28 .col-sm-3 {
        width: 50%;
        margin-bottom: 15px;

    }


    .contenido-home .col-sm-4 {
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
    }

    .contenido-home .design-two-links .col-sm-6 {
        width: 50%;
    }

    .contenido-home .design-two-links img {
        /* width: 60px; */
    }

    .bg-gray-blue {
        /* background: none; */
    }

    .form-home>.container {
        /* max-width: 100%;
        padding: 0; */
    }

    .g-recaptcha>div,
    .g-recaptcha iframe {
        width: 100% !important;
    }

    .itemSlider_14:not(:last-child)::after {
        all: unset;
    }

    .banner-video-youtube {
        height: 195px;
    }

    .img-banner-interna {
        height: 240px;
    }

    .product-card .add-cart-content {
        bottom: 10px;
        right: 10px;
        z-index: 99;
    }

    .quantity-control-cart .quantity-cart {
        text-align: center;
    }

    .container-flex-home {
        flex-wrap: wrap;
    }

    .container-flex-home .nav.flex-column.nav-pills {
        width: 100%;
    }

    .quantity-control .quantity {
        text-align: center;
    }

    .contenedor-detail-producto .product-description table{
        width: 100% !important;
    }
    .contenedor-detail-producto .product-description tr {
        /* display: table-cell; */
        /* width: 100%; */
    }

    .contenedor-detail-producto .product-description tr td {
        /* display: block; */

    }

    .slick-prev:before,
    .slick-next:before {}

    .slick-next {
        right: 5px !important;
    }

    .slick-prev {
        left: -5px !important;
        z-index: 2;
    }

    /* login */
    .container-banner-login h1 {
        font-size: 24px;
        margin: 0 0 10px 0;
    }

    .container-profile .nav-link {
        width: 100%;
    }

    .container-profile .tab-content {
        padding-top: 15px;
        border: none;
    }
    .table-cart{
        width: 100%;
    }
    .table-cart thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .table-cart tr {
        border-bottom: 3px solid #ddd;
        display: block;
        /* margin-bottom: .625em; */
    }

    .table-cart td {
        border-bottom: 1px solid #ddd;
        display: flex;
        font-size: .8em;
        text-align: right !important;
        align-items: center;
        justify-content: space-between;
    }


    .table-cart td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: 500;
        color: var(--azul);
        /* text-transform: uppercase; */
    }


    .table-cart td:last-child {
        border-bottom: 0;
    }
    .table-cart th{
        width: 100% !important; 
    }

    .table-cart .producto{
        /* justify-content: end; */
        width: 100%;
        margin-left: 30px;

    }
    .quantity-control-cart-shop{
        justify-content: end;
    }

    .quantity-control-cart-shop .quantity-cart-shop{
        text-align: center;
    }

    .contendor-comprar .producto h5{
        font-size: 12px;
    }
    .contendor-comprar .producto img{
        /* margin-right: auto; */
    }

    .product-card .product-title{
        text-align: center;
    }
}

@media (max-width:576px) {
    .titulo-banner-internas * {
        margin: 0;
        font-size: 22px !important;
    }

    .titulo-banner-internas img {
        width: 100px;
    }





    .four-29 .descripcion * {
        font-size: 36px !important;
    }

    .contenedor-seccion .counter {
        font-size: 30px;
    }

    .id_28 .caja-contenido-simple .imagen-contenido {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .id_28 p:nth-child(2) * {
        font-size: 17px !important;
    }

    /* .itemSlider_18 .content-slider, */
    .content-slider_18 {
        height: 87px !important;
        bottom: 0 !important;
        padding: 5px !important;
    }

    .itemSlider_18 .slick-slide {
        opacity: 0.5;
        /* Todos los slides tendrán menos opacidad por defecto */
    }

    .itemSlider_18:hover .content-slider {
        height: 87px;
        bottom: 0;
        padding: 5px;

    }

    .itemSlider_18 h3 {
        font-size: 14px;
        height: 33px;
    }

    .itemSlider_18 .introduccion-slider * {
        font-size: 14px;
        margin: 0;
    }

    .bg-gray-blue {
        background: none;
    }

    .content-description-form {
        padding: 10px;
    }

    .content-description-form p br {
        /* display: none; */
    }

    .bg-blue {
        padding: 10px;



    }



    .content-detail-blog .content-info {
        flex-wrap: wrap;
    }

    .content-detail-blog .content-info .vr:first-of-type {
        display: none;
    }

    .content-detail-blog .content-info span {
        flex: 0 0 auto;
        width: 80%;
    }

    .content-detail-blog .content-info span.category,
    .content-detail-blog .content-info span.new {
        width: 24%;

    }
}


@media (max-width:476px) {
    .main-general {
        margin-top: 100px;
    }

    .img-banner-interna {
        height: 202px;
    }
}